<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body style="    background: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.705)), url('/back.png');
width: 100%;
min-height: 100vh;
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;

" >
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><ion-icon name="menu-outline"></ion-icon></label>

        
            <img class="logo" src="/newlogo.png" alt=""> 
           <div class="navbar">
                    <a id="home" href="/">Home</a>
                <a href="./about">About Us</a>
                
                <a href="/login">Login</a>
                <a href="/contact">Contact</a>
                   <a href="/register">REGISTER</a>
                
{{!-- 
                <button class="login-but">Login</button> --}}
                <!-- <button class="reg-but">Register</button> -->
           </div>  
    </nav>
    <div class="content">
    <h1>MESS COUNT TRACKER</h1>
    <br>

    <p>The College Hostel Mess Count Tracking System aims to enhance the overall dining 
        experience for students, reduce food wastage, and improve the efficiency of mess 
        operations. By leveraging technology to automate meal tracking and management, 
        the system simplifies the workload for mess staff and provides students with a 
        modern and user-friendly tool for accessing and managing their meal preferences.</p>
        <br>
    </div>
</body>
</html>